*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar, .body{
    width: 40%;
    margin: auto auto;
}

.navbar{
    display: flex;
}

.right-navbar{
    display: flex;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* art-home */
.card-container, .card{
    display: flex;
    flex-direction: column;
}

.card{
    margin-bottom: 20px;
    border: none;
}

.card-item{
    margin: 3px 0;
}

.card-user, .card-likes{
    display: flex;
    align-items: center;
}

.card-user .card-user-img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 10px;
}

.card-likes .like-button{
    margin-right: 10px;
}

.btn{
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #e6e6e6,
                 -5px -5px 10px #ffffff;
}