*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: #000;
    text-decoration: none;
}

.navbar, .body{
    width: 40%;
    margin: auto auto;
}

.navbar{
    display: flex;
}

.right-navbar{
    display: flex;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* art-home */
.card-container, .card{
    display: flex;
    flex-direction: column;
}

.card{
    margin-bottom: 20px;
    border: 1px solid black;
}

.card-item{
    margin: 3px 0;
}

.card-image{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-user, .card-likes{
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.card-user .card-user-img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 10px;
}

.card-likes .like-button{
    margin-right: 10px;
}

.post-delete{
    margin-left: 10px;
}

.btn{
    padding: 2px 10px;
    border: 1px solid #FF0042;
    color: #FF0042;
}

.btn:hover{
    background-color: #FF0042;
    color: #fff;
}

.rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:50px;
    height:50px;
}

.account-img{
    width: 400px;
    height: 400px;
}

.username{
    padding-right: 10pxqqq;
}
